<h2>Data Binding via String Interpolation</h2>
<p>
  Hello {{name}} <!--String Interpolation using properties-->
</p>

<p>Here are my details:</p>
<ul>
  <li>Age: {{age}}</li>
  <li>Email: {{email}}</li>
  <li>Address: {{address.street}}, {{address.city}}, {{address.state}} {{address.zip}}</li>
</ul>

<h2>Loop through the elements of array with *ngFor directive</h2>
<!--Loop through the elements of array with ng-For directive-->
<p>Hobbies:</p>
<form (submit)="addHobby(hobby.value)">
  <div>
    <label for="hobby">Enter a Hobby:</label>
    <input type="text" #hobby>
  </div>
</form>
<ul>
  <li *ngFor = "let hobby of hobbies; let i = index">{{i+1}}: {{hobby}} <button (click)="deleteHobby(hobby)">X</button></li>
</ul>

<h2>Event handling</h2>
<button (click)="onClick()">Click me!</button>
<p>{{hello}}</p>
